<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header_logged %>
    
    
    
   
           <div class="papeleta">
              
           <h1>Eleeciones Generales 2017</h1>
           <h2>Elija a un binomio presidencial</h2>
        	<% for (var i = 0; i < binomios.length ; i++){ %>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-1 binomios"  >
            <div class="rowElementoPartido">
                <h5><%= binomios[i].partido%></h5>              
           </div>
           
           <div class="rowElementoLista">
                          <h2><%= binomios[i].lista%></h2>     
            
           </div>
           <div class="rowElementoImagenLista">
                 <img  src='/<%= binomios[i].imagenLista %>' width='50px' height="60px"> 

           </div>

            <div class="rowElementobtnVotar">
                <button id='btnVotar' onclick='votarBinomio("<%= binomios[i].id %>", "<%= cedula %>")'> <img src='/images/vote_icon.png'> </button> 
            </div>
            <hr>
           
            <div class="rowElementoPresidente">
                 <img class="imgBinomio" src='/<%= binomios[i].imagenPresi %>' width='50px' height="60px" > 
                           <div class="NombrePresi">
                               <h4> <%= binomios[i].presidente%></h4> 
                           </div>
                            
                            <h4>PRESIDENTE</h4>
                </div>
                          <div class="rowElementoVicePresidente">
                           
                             <img class="imgBinomio" src='/<%= binomios[i].imagenVice %>' width='50px'height="60px"> 
                           
                            <h4><%= binomios[i].vicepresidente%> </h4>      
                           
                            
                            <h4>VICEPRESIDENTE</h4>
            </div>
            
            
                           
                          
                            
                        
            
        


            </div>
	    <% } %>
   
    </div>
</body>
</html>