<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    <% include ../partials/adminMenu %>
    <section id="content">   
       
        <div id='popUp'>

            <div id='popUpFormContainer' class='form-Container'>
                <form id="popUpForm" class='form' action='/admin/<%= tableName %>/<%= obj.id %>' method='POST'>
                    <% if (mode === 'new') { %>
                        <h2>Nuevo <%= tableName %></h2>
                            <% for (var attr in obj){ %>
                                <label><%= attr %></label>
                                <% if (attr === 'id') {%>
                                    <input type='text' name='<%= attr %>' class='form-TextBox' value='<%= newId %>' readonly>
                                <% }else {%>
                                    <input type='text' name='<%= attr %>' class='form-TextBox'>
                                <% } %>
                            <% } %>
                            <input id='saveButton' class='form-button' type="submit" value='Guardar' onclick='alert("¡Registro Ingresado!");submit()'>
                    <% }else if (mode === 'edit') { %>
                        <h2>Editar <%= tableName %></h2>
                            <% for (var attr in obj){ %>
                                <label><%= attr %></label>
                                <% if (attr === 'id') {%>
                                    <input type='text' name='<%= attr %>' class='form-TextBox' value='<%= obj[attr] %>' readonly>
                                <% }else {%>
                                    <input type='text' name='<%= attr %>' class='form-TextBox' value='<%= obj[attr] %>'>
                                <% } %>
                            <% } %>
                            <input id='saveButton' class='form-button' type='button' value='Actualizar' onclick='update()'>
                    <% } %>
                   
                    <input id='cancelButton' class='form-button' value='Cancelar' onclick='window.location.assign("/admin/<%= tableName %>")'>
                </form>
            </div>

        </div>

    </section>
</body>
</html>