<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    
  <div class="contenedorResumen">
     <h2>Cédula:<%= votacion.id %> </h2>
     
     <h2>Binomio: <%= votacion.binomio %> </h2>  
    <h2>Asmbleísta: <%= votacion.asambleista %></h2>
    <h2> Parlamentario:  <%= votacion.parlamentario %></h2>    
          <br>
         
        <%= votacion.mod %> <br>
     
  </div>
    
   
       
</body>
</html>