<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header_logged %>
    
  <div class="contenedorResumen">
     <h2>Cédula:<%= votacion.id %> </h2>
     

     <% for (var i = 0; i < binomios.length ; i++){ %>
      <% if(binomios[i].id==votacion.binomio){ %>
          <h2>Binomio: <%= binomios[i].partido %> </h2> 
      <% } %>
      
      <% } %>
       
        <% for (var i = 0; i < asambleistas.length ; i++){
      if(asambleistas[i].id==votacion.asambleista){ %>
          <h2>Asambleistas: <%= asambleistas[i].partido %> </h2> 
      <%}%>
      
      <%}%>
      
         <% for (var i = 0; i < parlamentarios.length ; i++){
      if(parlamentarios[i].id==votacion.parlamentario){ %>
          <h2>Parlamentarios: <%= parlamentarios[i].partido %> </h2> 
      <%}%>
      
      <%}%>
     
      
 
          <br>
         
        <%= votacion.mod %> <br>
        
     <button  onclick='registraVoto("<%= binomios%>", "<%= asambleistas %>", "<%= parlamentarios %>", "<%= votacion %>")'>Registrar Voto </button> 
  </div>
    
   
       
</body>
</html>